%h2.underlined.bold About us
%p Animal Apps was founded in the summer of 2008 by #{link_to "Robert Matei", "http://www.linkedin.com/in/robertmatei"} and #{link_to "David Pekar", "http://www.linkedin.com/in/davepekar"} in San Francisco, CA.  Since then, we've been hard at work creating successful applications on the social network platforms. Now, a core team of 4 recent Stanford grads, we are profitable and growing fast.

%p We are lucky enough to be self-funded and thus enjoy 100% control over the direction of our products. In just one year, we've garnered over 50 million installs and hundreds of thousands of users now log into our apps everyday. We work hard - we make mistakes - we have successes - and its all really fun.

%p Still curious?  We've crammed as much about ourselves as we could into the bullet points below...
%p As individuals, we strive to be:
%ul
  %li entrepreneurial, ingenuitive, scrappy
  %li open, honest, communicative
  %li passionate, driven, tenacious

%p As a company, we value:
%ul
  %li agility, rapid iteration, constant improvements of our internal processes
  %li non-hierarchical decision making
  %li silliness, celebrations, open-mindedness
  
%p Our company motto: Take Radical Action!