%h2
  =link_to "About Us", about_url
%p Learn more about our team.

- content_for :sidebar do
  %h2 
    =link_to "Our Jobs", jobs_url
  %p See what we have to offer.
  
- content_for :slogan do
  %h3 Unleash the animal inside you!
  %p Animal Apps creates the highly engaging and hopelessly addicting social games and applications.  Are you an animal at what you do?  Come join the fun!