#slogan
  %h2 Are you an animal at what you do?
  %h3 Animal Apps creates highly viral and hopelessly addictive social games and applications.

.span-11
  %h2
    =link_to "About Us", about_url
  %p Learn more about our team.

.span-11.last
  %h2 
    =link_to "Our Jobs", jobs_url
  %p Unleash the animal inside you!
  