%h2
  =link_to "About Us", about_url
%p Learn more about our team.

- content_for :sidebar do
  %h2 
    =link_to "Our Jobs", jobs_url
  %p See what we have to offer.
  
- content_for :slogan do
  %h3 Unleash the animal inside you!
  %p Animal Apps creates the most engaging and addictive social games and applications on the web.  Come join us and help us achieve world domination of the social app space.