%h2.underlined.bold Our Jobs

%h3 Developer/Product Manager
%p We're seeking a bright, young developer to join our team in San Francisco CA and take full responsibility for one product in our portfolio. We train you in Ruby on Rails, agile web development, and viral web applications - you thrive in our fast-paced, world-class team.

%p We've honed our skills and are tearing up the social games market as we speak - this is an rare opportunity to get in on the ground floor. Come join the fun!

%h4 All applicants must:
%ul
  %li have strong coding skills
  %li have good product sense
  %li be scrappy and entrepreneurial  
  %li be a fast learner and a natural problem solver
  %li interest working in the social networking space

%h4 Specific responsibilities include:
%ul
  %li researching, designing, and coding new product features
  %li tracking analytics
  %li growing user base
  %li optimizing monetization
  %li monitoring and correcting bugs


%h4 Why you should apply:
%ul
  %li <b>Impact</b>: you'll have the opportunity to make massive contributions immediately; your product will be used by millions across the world
  %li <b>Learning</b>: if you aren't a seasoned Rails veteran, we will get you up to speed
  %li <b>Fun</b>: you'll be working with cool people in an informal, non-hierarchical work environment and you'll be living in beautiful San Francisco
  %li <b>Profit</b>: competitive salary, benefits with equity 

%p We strive to constantly innovate and have fun in every aspect of our company. In lieu of a traditional cover letter, please send resume and brief responses to the following prompts to jobs [at] animalapps [dot] com. Responses should not be more than one paragraph!
%ul
  %li Are you handy around the house? Tell us about a time you fixed something.
  %li Have you ever done anything entrepreneurial? Tell us a story describing it.
  %li If your working style was an animal, what kind of animal would it be and why?
  %li You've just finished a grueling two weeks project, it's the weekend and you have no responsibilities to tend to! How do you spend your time?

%p We move fast - if interested, you should apply ASAP. 

%p= link_to("Learn more about our team.", about_url)
