%p We're seeking a bright, young developer to join our team in San Francisco CA and take full responsibility for one product in our portfolio. We train you in Ruby on Rails, agile web development, and viral web applications - you thrive in our fast-paced, world-class team.

%p We've honed our skills and are tearing up the social games market as we speak - this is an rare opportunity to get in on the ground floor. Come join the fun!

%h3 All applicants must:
%ul
  %li have strong coding skills
  %li have good product sense
  %li be scrappy and entrepreneurial
  %li be a fast learner and a natural problem solver 

%h3 Why you should apply:
%ul
  %li Learning: if you aren't a seasoned Rails veteran, we will get you up to speed
  %li Impact: you'll have the opportunity to make massive contributions immediately; your product will be used by millions across the world
  %li Fun: you'll be working with cool people in an informal, non-hierarchical work environment and you'll be living in beautiful San Francisco
  %li Profit: competitive salary, benefits with equity 

%p We move fast - if interested, you should apply ASAP. 