%h2.underlined.bold Our Jobs

%h3 Core Developer/Product Manager
%p We're seeking a bright, passionate developer to join our team in San Francisco CA. We train you in Ruby on Rails, agile web development, and viral web applications - you thrive in our fast-paced, world-class team.

%h4 All applicants must:
%ul
  %li have strong coding skills
  %li instinctively solve problems 
  %li be scrappy, entrepreneurial, driven  
  %li love designing/creating/tweaking products

%h4 Why you should apply:
%ul
  %li <b>Impact</b>: you will make massive contributions immediately
  %li <b>Reach</b>: your product will be used by millions across the world
  %li <b>Fun</b>: cool people, no hierarchies, awesome city (San Francisco)
  

%p We strive to constantly innovate and have fun in every aspect of our company. In lieu of a traditional cover letter, please send resume and brief responses to the following prompts to jobs [at] animalapps [dot] com. Responses should not be more than one paragraph.

%p Please answer all the questions below. (regardless of what you heard elsewhere!)

%ul
  %li Why are you interested in Animal Apps?
  %li Are you handy around the house? Tell us about a time you fixed something.
  %li Have you ever done anything entrepreneurial? Tell us a story describing it.
  %li If your working style was an animal, what kind of animal would it be and why?
  %li What do you do in your free time?

%p We move fast - if interested, you should apply ASAP. 

%p We are tearing up the social games market and this is a rare opportunity to get in on the ground floor. Come join the fun!

%p= link_to("Learn more about our team.", about_url)
