@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/reset.sass
@import compass/layout.sass

+blueprint
+blueprint-scaffolding
//+sticky-footer( 50px, "#page", "#root_footer", "#footer" )

body
  :margin 10px
  :background-color #BFC1C4
  #page
    +container
    :margin-bottom 10px
    :border 2px solid #9EA3AC
    :background-color white
    :padding-bottom 20px
    #header
      +column(24)
      :margin-bottom 15px
    #slogan
      :float left
      :display inline
      :width 778px
      :margin 9px 10px 10px
      :padding 10px
      h2
        :text-align center
      h3
        :margin 10px 0
        :text-align center
      p
        :text-align left
        :margin 10px 0
    #main
      +column(20)
      +prepend(2)
      p
        :font-size 14px
      li
        :font-size 14px
  #footer
    p
      :text-align center
        
.centered
  :text-align center
  
.underlined
  :border-bottom 1px solid #ccc
  
.bold
  :font-weight bold
  
h2
  a
    :font-weight bold
    :text-decoration none
    :padding 5px