@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/reset.sass
@import compass/layout.sass

+blueprint
+blueprint-scaffolding
+sticky-footer( 50px, "#page", "#root_footer", "#footer" )

body
  :margin 0
  #page
    +container
    :margin-bottom 20px
    
    #header
      +column(24)
      :margin-bottom 15px
    #slogan
      :float left
      :display inline
      :width 660px
      :margin 0 0 20px 120px
      :border 5px solid #ccc
      :padding 10px
      h3
        :margin 10px 0
        :text-align center
      p
        :text-align left
        :margin 10px 0
    #main
      +column(13)
      +prepend(2)
      +colborder
    #sidebar
      +column(8,true)
    #root_footer
  #footer
    :border-top 1px solid #ccc
    :background-color #eee
    #footer_container
      +container
      :padding-top 10px 
      p
        :text-align center
